.navbar{
  width: 100vw;
  padding-inline: 30px;
  max-width: 1440px;
  padding-bottom: 10px;
  background-color: #314158;
}

.dashHead{
  position: sticky;
  top: 0;
  padding-top: 10px;
  background-color: #314158;
  width: 100vw;
}

h3{
  color: white;
  font-size: 22px;
}

table{
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

tr{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.headline{
  width: 100vw;
  padding-inline: 30px;
  max-width: 1440px;
  display: flex;
  background-color: #314158;
}

#list{
  width: 100vw;
  padding-inline: 30px;
  padding-block: 40px;
  max-width: 1440px;
}

td{
  border: 1px solid white;
  width: 100%;
  font-size: 18px;
  padding-inline: 10px;
  color: white;
}
