/* #userID{
    background-color: lightgray;
    border-radius: 4px;
    height: 40px;
    width: 600px;
}

button{
    width: 180px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;

}

#newUser{
    background-color: lightgray;
}

#start{
    background-color: green;
}

.startButtons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
} */



.startpage{
    height: 320px;
    border-radius: 10px;
}